<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ThoughtSharing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA263C1A1C1EEECF003F4EF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA263C361C1EEED0003F4EF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA263C411C1EEED0003F4EF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
